<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">

        <div>
            <input name="id" type="text">
            <label name="id" for="id">Id</label>
        </div>
        <div>
            <input name="name" type="text">
            <label name="name" for="name">Name</label>
        </div>
        <div>
            <input name="price" type="text">
            <label name="price" for="price">Price</label>
        </div>
        <div>
            <input name="description" type="text">
            <label name="description" for="description">Description</label>
        </div>

        <div>image</div>

        <button type="submit">Submit</button>

    </form>
</body>
</html>